# Data files
data/

# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Claud Memory
MEMORY.md

# Ignore Power BI binary files
*.pbix


